* {
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

.section{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
/*Start Left Section*/

.left{
    height: 550px;
    background-color: #f5cda2;
    width: 25%;
    text-align: center;
    margin-top: 40px;
}
.left img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 240px;
}
.left h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 100px;
   
}
.left .sign{
    border: none;
    outline: none;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 22px;
    color: #f5cda2;
    background-color:white;
    margin-top: 80px;
}
.left .sign a{
    color: #f5cda2;
}
/*End Left Section*/
/*Start right Section*/

.right{
    width: 40%;
    color: #535353;
    padding-top: 120px;
}
.right h1{
    color: #4b3028;
    font-size: 40px;
   margin-left: 20px;
}

.right input{
    width: 290px;
    height: 35px;
    background-color: #f5cda2;
    margin-top: 10px;
    outline: none;
    border: none;
    padding-left: 30px;
}
.right i{
    position: relative;
     left: 20px;
  
}
.right input::placeholder{
    color: white;
}

.right .sign{
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    background-color:#f5cda2;
    margin-left: 90px;
}
.right .sign a{
    color: white;
}
.sign a{
    text-decoration: none;
}
/*end right Section*/
